.primary {
  width: 112px;
  background-color: #2d91fe;
  color: white;
  border: none;
}
.secondary {
  width: 112px;
  background-color: #ffffff;
  border: 1px solid #e5e5f3;
  color: #0d0f52;
}
.button {
  cursor: pointer;
  height: 48px;
  font-size: 14px;
  font-family: ProximaNova;
  font-weight: 600;
  border-radius: 42px;
  outline: none;
}
