.sidebar {
  display: flex;
  flex-direction: column;
  .logo {
    border-radius: 0.375rem;
    width: 136px;
    height: 44px;
    margin: 2rem 2rem;
  }

  .sidebar-content {
    width: 360px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-right: 1px solid #e5e7eb;
    padding-bottom: 4rem;
    border-bottom: 1px solid #e5e7eb;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    .line {
      height: 1px;
      width: 80%;
      background-color: #e5e7eb;
      margin-bottom: 3rem;
    }
    .wallet-container {
      margin: 2.5rem 0rem;
      display: flex;
      align-items: center;
      .wallet-icon {
        width: 56px;
        height: 56px;
      }
      .balance-container {
        color: #0d0f52;
        display: flex;
        flex-direction: column;
        height: 56px;
        .balance {
          font-family: ProximaNovaBold;
          font-size: 24px;
          margin: 0px;
        }
        .balance-label {
          width: 166px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-family: ProximaNova;
          font-size: 14px;
          margin: 0px;
        }
      }
    }
    .actions {
      margin-top: 2rem;
      gap: 1rem;
      display: flex;
    }
    .warning {
      display: flex;
      flex-direction: row;
      width: 240px;
      margin-top: 2rem;
      margin-bottom: 2rem;
      .icon {
        margin-right: 1rem;
      }
      p {
        font-family: ProximaNova;
        font-size: 14px;
        color: #9596b3;
        margin: 0px;
      }
    }
    .illustration {
      margin: 2.5rem 0rem;
    }
    .title {
      font-family: ProximaNovaBold;
      font-size: 17px;
      margin: 0px;
      color: #0d0f52;
      margin: 2rem 0rem;
      text-align: center;
    }
    .subtitle {
      font-family: ProximaNovaLight;
      font-size: 14px;
      margin: 0px;
      color: #9596b3;
      text-align: center;
    }
  }

  .sidebar-content-inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
  }

  .logo-container {
    display: flex;
    flex-shrink: 0;
    width: 280px;

    margin-bottom: 1rem;
    flex-direction: column;
  }

  .nav {
    flex: 1;
    gap: 0.25rem;
    background-color: #ffffff;
    padding: 0.5rem;
  }

  .main {
    position: absolute;
    left: 380px;
    top: 150px;
    width: 70%;
  }
}
