@font-face {
  font-family: "ProximaNovaBold";
  src: local("ProximaNovaFont"),
    url("./fonts/proximanova_bold.otf") format("truetype");
}
@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNovaFontRegular"),
    url("./fonts/proximanova_regular.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNovaLight";
  src: local("ProximaNovaFontRegular"),
    url("./fonts/proximanova_light.otf") format("truetype");
}
